@layer components {
    .center {
        @apply flex justify-center items-center;
    }
    .column {
        @apply flex flex-col;
    }
}

.scroll {
    scrollbar-color: gray;
    scrollbar-width: thin;
}
.scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.scroll::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 50px;
}
.scroll::-webkit-scrollbar-track {
    border-radius: 50px;
    background-color: transparent;
    margin-right: 5px !important;
}

.hidden_scroll::-webkit-scrollbar {
    display: none;
}
