/* css file */
@import url("./theme.css");
/* font */
@import url("./font.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html:lang(fa) {
    direction: rtl;
}
html:lang(fa) * {
    font-family: iranyekan, Helvetica, Arial, sans-serif ;
}
html:lang(en) {
    direction: ltr;
}
html:lang(en) * {
    font-family: Poppins, Helvetica, Arial, sans-serif ;
}
