/* css file */
@import url("./theme.css");
/* font */
@import url("./font.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html:lang(fa) {
    direction: rtl;
    font-family: BYekan, Helvetica, Arial, sans-serif;
}
html:lang(en) {
    direction: ltr;
    font-family: Poppins, Helvetica, Arial, sans-serif !important;
}
